@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 600 px;
  margin: 20 px auto;
}

h3{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  color: darkslategrey;
}

.btn{
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ccc;
}

.green{
  background-color: rgb(14, 139, 14);
}

.btn.green:hover{
  background-color: rgb(10, 117, 10);
}

.red{
  background-color: rgb(245, 11, 11);
}

.btn.red:hover{
  background-color: rgb(212, 38, 38);
}

.input-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input-search input{
  width:300px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.table{
  width:100%;
  border-collapse: collapse;
  cursor: pointer;
}

.table th,
.table td{
  border: 1px solid #ddd;
  padding:  8px;
}

.table th{
  background-color: rgba(128, 128, 128, 0.795);
} 

.table tr:nth-child(even){
  background-color: rgba(128, 128, 128, 0.795);
}

.table tr:hover{
  background-color: #ddd;
}